* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sky {
  height: 15rem;
  background-color: rgb(197, 234, 249);
  position: relative;
  z-index: 1;
}

.grass {
  height: 12rem;
  width: 100%;
  color: rgb(14, 109, 14);
  background-color: rgb(14, 109, 14);
  position: relative;
  z-index: 1;
}

.roads {
  height: 11.5rem;
  background-color: rgb(51, 51, 51);
  width: 100%;

}

.lines {
  border-top: 20px dashed white;
  margin-top: -6%;
  width: 100%;
  position: relative;
}

.red-mario {

  width: 5rem;
  position: absolute;
  bottom: 6.5rem;
  left: 0rem;
  z-index: 2;
  animation-name: red-mario;
  animation-duration: 3.8s;
  animation-iteration-count: infinite;
}

.green-mario {

  width: 5rem;
  position: relative;
  bottom: 3rem;
  left: 0rem;
  left: 0rem;
  z-index: 2;
  animation-name: green-mario;
  animation-duration: 3.2s;
  animation-iteration-count: infinite;
}


.cloud-1 {
  position: relative;
  top: 1.5rem;
  left: -8rem;
  z-index: -2;
  animation-name: cloud-1-slidein;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}


.cloud-2 {
  position: relative;
  top: -2rem;
  left: -8rem;
  z-index: -1;
  opacity: 0.5;
  animation-name: cloud-2-slidein;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}


@keyframes cloud-1-slidein {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

@keyframes cloud-2-slidein {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

@keyframes red-mario {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

@keyframes green-mario {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}